<nav class="navbar navbar-expand-lg navbar-secondary p-2 ">
    <div class="container-fluid">
        <span onclick="handleHomePage()" class="navbar-brand bg-brand" href="#"
            style="font-family: 'JetBrains Mono', monospace; font-size: 2rem; max-width: 100px; cursor: pointer">qtext.io<span
                id="banner" class="bg-brand-banner"
                style="font-family: 'JetBrains Mono', monospace; font-size: 12px !important; position: relative; left: -150px; top: 20px;"></span></span>

        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="theme-switch">
                <input type="checkbox" id="theme-switch" />
                <div class="slider" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-sun">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-moon">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                    </svg>
                </div>
            </label>
        </div>
    </div>
    </div>
</nav>

<script src={{ url_for('static', filename='js/nav.js' ) }}></script>